// This file was auto-generated by Fern from our API Definition.

package binlookup

import (
	context "context"
	skyflowferngo "github.com/skyflowapi/skyflow-go/v2/internal/generated/vaultapi"
	core "github.com/skyflowapi/skyflow-go/v2/internal/generated/vaultapi/core"
	internal "github.com/skyflowapi/skyflow-go/v2/internal/generated/vaultapi/internal"
	option "github.com/skyflowapi/skyflow-go/v2/internal/generated/vaultapi/option"
	http "net/http"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// <b>Note</b>: This endpoint is in beta and subject to change. <br><br> Returns the specified card metadata.
func (c *Client) BinListServiceListCardsOfBin(
	ctx context.Context,
	request *skyflowferngo.V1BinListRequest,
	opts ...option.RequestOption,
) (*skyflowferngo.V1BinListResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://identifier.vault.skyflowapis.com",
	)
	endpointURL := baseURL + "/v1/card_lookup"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")
	errorCodes := internal.ErrorCodes{
		404: func(apiError *core.APIError) error {
			return &skyflowferngo.NotFoundError{
				APIError: apiError,
			}
		},
	}

	var response *skyflowferngo.V1BinListResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
