name: "CI Checks"

on: [pull_request]

jobs:
  check-commit-message:
    name: Check Commit Message
    runs-on: ubuntu-latest
    steps:
    - name: Check JIRA ID
      uses: gsactions/commit-message-checker@v1
      with:
        pattern: '\[?[A-Z]{1,5}-[1-9][0-9]*.+$'
        flags: 'gm'
        excludeDescription: 'true'
        checkAllCommitMessages: 'true'
        accessToken: ${{ secrets.PAT_ACTIONS }}
        error: 'One of your your commit messages is not matching the format with JIRA ID Ex: ( SDK-123 commit message )'
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.21

    - name: create-json
      id: create-json
      uses: jsdaniell/create-json@1.1.2
      with:
        name: "credentials.json"
        json: ${{ secrets.CREDENTIALS_FILE_STR }}

    - name: 'Setup .env'
      run: |
        touch .env
        echo CREDENTIALS_FILE_PATH=../../credentials.json >> .env
        echo EXPIRED_TOKEN=${{secrets.EXPIRED_TOKEN}} >> .env
        echo VALID_CREDS_PVT_KEY=${{secrets.VALID_PVT_KEY}} >> .env
        # echo CREDENTIALS_FILE_STR=${{secrets.CREDENTIALS_FILE_STR}} >> .env

    - name: Build
      run: |
        cd commonutils
        go build -v ./...
        cd ../serviceaccount
        go build -v ./...
        cd ../skyflow
        go build -v ./...


    - name: 'Run Tests'
      run: |
        cd serviceaccount
        go test ./... -coverprofile=coverage.out
        cd ../skyflow
        go test ./... -coverprofile=coverage.out

    - name: Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        token: ${{ secrets.CODECOV_REPO_UPLOAD_TOKEN }}
        files: serviceaccount/coverage.out, skyflow/coverage.out
        name: codecov-skyflow-go
        verbose: true
